@import "tailwindcss";

@layer base {
  body {
    scroll-behavior: smooth;
    background-color: #0F172A;
  }
}

@layer components {
  .card {
    @apply bg-[#0F172A]/80 backdrop-blur-sm border border-gray-800 rounded-xl p-2  sm:p-6 shadow-lg transition-all duration-300;
  }

  .card-interactive {
    @apply hover:bg-gray-900/90 hover:shadow-xl hover:border-[#8F05D6]/30 transform hover:-translate-y-1 cursor-pointer transition;
  }
}

/* hero section background */
.imagem-hero {
  background-image: url('assets/grid.svg');
}